.clocks {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px 40px;
    margin-bottom: 80px;
}

.clockWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clockForm {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 14px;
}

.clockLabel {
    display: flex;
    flex-direction: column;
}

.clockHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
    gap: 100px;
}

.time {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cityTitle {
    font-size: 22px;
    font-weight: bold;
}

.remove {
    border: 1px solid black;
    border-radius: 100%;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.clock{
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://antonaniskovich.ru/filearticle/chasy-na-javascript/file/clock.png),
    url(https://antonaniskovich.ru/images/javascript/2020/2020-03-21-chasy-na-javascript/file/js.png),
    radial-gradient(circle, rgb(37, 73, 90) 0%, rgb(25, 48, 60) 11%, rgba(9,25,33,1) 38%);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(134, 134, 134, 0.35),
    inset 0 -15px 15px #191919,
    0 15px 15px rgba(134, 134, 134, 0.35),
    inset 0 15px 15px #191919
;
}

.clock:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 999;
}

.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}

.clock .hour, .hr{
    width: 160px;
    height: 160px;
}
.clock .min, .mn{
    width: 190px;
    height: 190px;
}
.clock .sec, .sc{
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: #ffc600;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background-color: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.cards {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    padding: 20px 40px;
}

.card {
    display: flex;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background: #f9f5f5;
    padding: 20px;
    width: 240px;
    border-radius: 4px;
}

.deleteCard {
    margin-left: auto;
}

.updateNotes {
    display: flex;
    align-items: center;
    margin: 40px;
    gap: 10px;
}

.noteForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.field {
    width: 200px;
    height: 200px;
}

.update {
    border: 1px solid green;
    border-radius: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: green;
}